<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="p-5 py-lg-1 mb-4 bg-base text-white">
          <div class="container py-3">
            <div class="row align-items-center">
              <div class="col-md-6 col-sm-12 text-center text-lg-start">
                <h1 class="display-5 fw-bold">UniResv<br> Sistem Peminjaman dan Penyewaan Online</h1>
                <p class="fs-5">Memberikan kemudahan dalam memanfaatkan fasilitas baik untuk kegiatan dalam kampus maupun luar kampus..</p>
                <button class="btn btn-outline-secondary btn-lg" type="button">Lihat Sekarang!</button>
              </div>
              <div class="col-md-6 col-sm-12 order-first order-lg-last mb-4 mb-lg-0">
                <img src="./assets/img/rent-ilust.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="carousel-item ">
        <div class="p-5 py-lg-1 mb-4 bg-base text-white">
          <div class="container py-3">
            <div class="row align-items-center">
              <div class="col-md-6 col-sm-12 text-center text-lg-start ">
                <h1 class="display-5 fw-bold">Pilih fasilitas yang dibutuhkan</h1>
                <p class="fs-5">Hanya dengan melakukan pengajuan, permintaanmu akan langsung diproses tanpa melalui banyak tahapan</p>
              </div>
              <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 order-first order-lg-last">
                <img src="./assets/img/shorten-time.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item ">
        <div class="p-5 py-lg-1 mb-4 bg-base text-white">
          <div class="container py-3">
            <div class="row align-items-center">
              <div class="col-md-6 col-sm-12 text-center text-lg-start ">
                <h1 class="display-5 fw-bold">Ragam fasilitasnya</h1>
                <p class="fs-5">Mengadakan acara/seminar? gedung dan ruangan tersedia, bepergian? bus ready, butuh peralatan? juga ada</p>
              </div>
              <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 order-first order-lg-last">
                <img src="./assets/img/choice.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center p-2">
          <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        </div>
        <span class="visually-hidden text-warning">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center p-2">
          <span class="carousel-control-next-icon"  aria-hidden="true"></span>
        </div>  
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>