.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    color: white;
    display: inline-block;
}


.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}


.inputfile + label * {
	pointer-events: none;
}