<app-template-admin>

    <div class="container py-4">
        <div class="bg-white p-3 rounded shadow">
            <div class="d-flex justify-content-end mb-2">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Tambah</button>
            </div>
            <div class="table-responsive">
                <table class="table" *ngIf="userData">
                    <thead>
                        <tr>
                            <th scope="row">No</th>
                            <th scope="row">Name</th>
                            <th scope="row">NIM</th>
                            <th scope="row">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userData.data; let i = index">
                                <td scope="row">{{i + 1}}</td>
                                <td scope="row">{{ user.fullName }}</td>
                                <td scope="row">{{ user.nim }}</td>
                                <td scope="row">
                                    <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#detailModal" (click)="onDetail(user)">Detail</button>
                                    <button class="btn btn-edit btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#editModal" (click)="onEdit(user.id)">Edit</button>
                                    <button class="btn btn-outline-danger" (click)="onDelete(user.id)">Delete</button>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="addModal" #addModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tambah User</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
                        <div class="form-group">
                            <label for="nim">NIM</label>
                            <input type="number" class="form-control" id="nim" name="nim" formControlName="nim">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" formControlName="email"
                            >
                            
                        </div>
                        <small [ngClass]="addEmail?.errors && addEmail?.touched? 'text-danger':'opacity-0' ">Email Harus Valid</small>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                            formControlName="password"
                            >
                        </div>
                        <small [ngClass]="addPassword?.errors && addPassword?.touched ? 'text-danger':'opacity-0' ">Password Harus 6 Karakter</small>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" name="fullName"
                                formControlName="fullName">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone"
                            >
                            
                        </div>
                        <small [ngClass]="addPhone?.errors && addPhone?.touched ? 'text-danger':'opacity-0'  ">Phone Harus 12 Karakter</small>
                        <div class="form-group">
                            <label for="birthDate">Birth Date</label>
                            <input type="date" class="form-control" id="birthDate" name="birthDate"
                                formControlName="birthDate">
                        </div>
                        <div class="mb-3" style="display: none;">
                            <label for="picture" class="form-label">Picture</label>
                            <input type="hidden" class="form-control" id="picture" name="picture" formControlName="photo">
                        </div>    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="editModal" #addModal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editUserForm">
                        <div class="form-group">
                            <label for="nim">NIM</label>
                            <input type="number" class="form-control" id="nim" name="nim" formControlName="nim">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" 
                            [class.is-invalid]="editEmail?.errors"
                            class="form-control" id="email" name="email" formControlName="email">
                        </div>
                        <small [ngClass]="editEmail?.errors  && editEmail?.touched?  'text-danger':'opacity-0' ">email tidak valid</small>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                formControlName="password">
                        </div>
                        <small [ngClass]="editPassword?.errors && editPassword?.touched?  'text-danger':'opacity-0' ">password tidak valid</small>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" name="fullName"
                                formControlName="fullName">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone"
                            [class.is-invalid]="editPhone?.errors"
                            >
                        </div>
                        <small [ngClass]="editPhone?.errors && editPhone?.touched ?  'text-danger':'opacity-0' ">phone tidak valid</small>
                        <div class="form-group">
                            <label for="birthDate">Birth Date</label>
                            <input type="date" class="form-control" id="birthDate" name="birthDate"
                                formControlName="birthDate">
                        </div>
                        <div class="mb-3">
                            <input type="hidden" class="form-control" id="picture" name="picture" formControlName="photo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="saveEdit()"
                                data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="detailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Name:</strong> {{ userDetail?.fullName }}</p>
                    <p><strong>NIM:</strong> {{ userDetail?.nim }}</p>
                    <p><strong>Birth Date:</strong> {{ userDetail?.dateofbirth | date : 'dd-MM-yyyy' }}</p>
                    <p><strong>Phone:</strong> {{ userDetail?.phone }}</p>
                    <p><strong>Email:</strong> {{ userDetail?.user.email }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</app-template-admin>