<app-template-user>


  <div class="p-5 mb-4 bg-primary text-white text-center">
    <div class="container-fluid py-4">
      <h1 class="display-6 fw-bold">PEMINJAMAN DAN SEWA ASET KAMPUS</h1>
      <p class="fs-5 w-100 w-lg-50 mx-auto">Kemudahan Akses Fasilitas Kampus untuk Kebutuhan Akademik & Kegiatan Lainnya.</p>
    </div>
  </div>


  <app-card-item/>

   <!-- <div class="container mt-3 px-2 px-lg-5">
        <div class="d-lg-flex flex-lg-col flex-row justify-content-center align-items-center gap-3">
          <div class="input-group input-group-lg w-lg-25 w-100">
            <span class="input-group-text l-tb-rad bg-transparent"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control r-tb-rad" >
          </div>
          <div class="w-100 w-lg-25 my-3">
            <select class="form-select select-custom rounded-pill px-4" >
              <option selected class="opt">Pilih Tipe Fasilitas</option>
              <option value="1" class="opt">One</option>
              
            </select>
          </div>
          <div class="w-lg-25 w-50">
            <button type="button" class="custom-btn bg-primary w-100 text-white">Cari Fasilitas</button>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-4">
            <div class="card h-100">
              <img src="./assets/img/seminar-room.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <span class="text-decoration-none">Place</span>
                <h5 class="card-title">Ruang Seminar S001</h5>
                <div class="d-inline-flex align-items-center mb-2 gap-2">
                  <i class="bi bi-buildings"></i>
                  <small class="text-decoration-none">Fakultas A, Gedung X</small>
                </div>
                <p class="mt-4">Rp 1.000.000</p>
              </div>
            </div>
          </div>
        </div>
  </div> -->
</app-template-user>
