<app-template-admin>
    <div class="container py-5">
        <div class="bg-white p-4 rounded shadow-sm">
            <div class="row mb-4">
                <div class="col-md-6 col-sm-12">
                    <h3 class="text-center font-base mb-3">Jumlah Fasilitas Berdasarkan Tipe</h3>
                    <canvas id="facilitiesStatusChart" width="100" height="100"></canvas>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3 class="text-center font-base mb-3">Jumlah Peminjaman Berdasarkan Status</h3>
                    <canvas id="transactionStatusChart" width="100" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</app-template-admin>
