<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6">
            <div class="min-vh-100 d-flex justify-content-center align-items-center">
                <main class="form-signin w-75 m-auto">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div>
                            <h3 class="fw-bold font-base mb-3">Daftar Akun</h3>
                            <p class="mb-3">Sudah punya akun ? <a routerLink="/login" role="button" class="text-decoration-none">Login Disini</a></p>
                        </div>

                        @if(isInvalid){
                          <div class="alert alert-dismissible alert-custom fade show" role="alert">
                            <small>{{msgErr}} </small>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
                         </div>
                        }

                        <div class="form-floating mt-2">
                          <input 
                          type="email" class="form-control" 
                          [ngClass]="this.isInvalid ? 'is-invalid': ''" 
                          id="floatingInput" placeholder="name@example.com" 
                          formControlName="email"
                          [class.is-invalid]="email?.errors?.['email']"
                          >
                          <label for="floatingInput">Email address</label>
                        </div>
                        <small [ngClass]="email?.errors?.['email'] ?  'text-danger':'opacity-0' ">email tidak valid</small>

                      <div class="input-group mt-1">
                        <div class="form-floating">
                          <input 
                          [type]="toggle ? 'password': 'text'" 
                          class="form-control" [ngClass]="this.isInvalid ? 'is-invalid': ''" 
                          placeholder="password" id="floatingInputGroup1" 
                          [class.is-invalid]="password?.errors?.['minlength']" 
                          formControlName="password">
                          <label for="floatingInputGroup1">Password</label>
                        </div>
                        <span class="input-group-text bg-transparent" [ngClass]="this.isInvalid ? 'border-danger': ''"  (click)="ontogglePassword()">
                          @if(toggle){
                            <i class="bi bi-eye-slash-fill"></i>
                          }@else{
                            <i class="bi bi-eye-fill"></i>
                          }
                         </span>
                        </div>
                        <small [ngClass]="password?.errors?.['minlength'] ?  'text-danger':'opacity-0' "> Password Harus 6 Karakter {{password?.errors?.['required']}}</small>
                        
                      <button class="btn btn-primary mt-1 w-100 rounded-pill" type="submit">Daftar</button>
                    </form>

                  </main>
            </div>
           
        </div>
        <div class="col-md-6 bg-primary p-5 min-vh-100 d-none d-lg-block round-register">
            <img src="./assets/img/Building.png" class="img-fluid" alt="">
        </div>
    </div>
</div>