<footer class="container-fluid pb-3 pt-4 px-5 bg-base">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <a href="" class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" aria-label="Campus Reservation">
        <img src="./assets/img/logo-uniresv.jpeg" class="rounded-circle d-block me-2" width="50" alt="">
        <span class="fs-5 text-white">Campus Reservation</span>
      </a>
      <ul class="list-unstyled small">
        <small class="d-block text-white">Rent and Loan System</small>
        <small class="d-block text-white mb-2">Jalan Melati No.9, Jakarta 12550 Indonesia</small>
      </ul>
    </div>
    <div class="col-12 col-md-6 mb-3 d-flex flex-md-row flex-column">
      <div class="col-md-6 mb-3 mb-md-0">
        <h5 class="text-white">Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-decoration-none" href="#">Rent Places</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Rent Vehicles</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Rent Tools</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Loan Places</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Loan Vehicles</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Loan Tools</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5 class="text-white">Contact</h5>
        <ul class="list-unstyled text-small d-flex gap-3">
          <li><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-whatsapp"></i></a></li>
          <li><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-youtube"></i></a></li>
          <li><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 text-start">
      <small class="d-block text-white mt-3">Copyright &copy; 2024</small>
    </div>
  </div>
</footer>
  